header.header
  .container-header
    a.header-logo
      img.logo-img(src="css/images/logo.png", alt="logo")
      span.logo-text Сайт портфолио
      ul.ico
        li.ico-socials
          a.ico-link.vk(href="https://vk.com/id29755814", target="_blank")
        li.ico-socials
          a.ico-link.tw(href="https://twitter.com/korney197823" target="_blank")
        li.ico-socials
          a.ico-link.fb(href="https://www.facebook.com/kornienko.den" target="_blank")
        li.ico-socials
          a.ico-link.gh(href="https://github.com/korney197823" target="_blank")
                
            
            
