head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block title
    title portfolio_site

  meta(name="description", content="front-end_portfolio")
  meta(name="keywords", content="front-end_portfolio")
  meta(name="author", content="Denis Kornienko")

  link(rel="shortcut icon", href="css/images/favicon.ico" type="image/x-icon")
  link(rel="icon", href="css/images/favicon.ico" type="image/x-icon")

  link(rel="stylesheet" href="bower/normalize.css/normalize.css")
  link(link rel="stylesheet" href="bower/qtip2/jquery.qtip.css")

  link(rel="stylesheet" href="fonts/fira.css")
  link(rel="stylesheet" href="fonts/proximanovacond-semibold.css")

  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="css/about-me.css")
  link(rel="stylesheet" href="css/my-work.css")
  link(rel="stylesheet" href="css/contact-me.css")
  link(rel="stylesheet" href="css/login.css")

  script(src="bower/modernizr/modernizr.js")
