block link
  -var menu = { 'Обо мне': '/','Мои работы': '/my-work.html', 'Связаться со мной': '/contact-me.html'};
  nav.menu
    ul.menu-list
      each val, key in menu
        if selected === key
          li.menu-item.me
            a.menu-link(href=val)= key
        else
          li.menu-item
            a.menu-link(href=val)= key