address.contacts
  ul.contacts_list
    .contacts_header Контакты
    li.contacts_item.icon.icon_mail
      a.contacts-link(href="mailto:korney197823@gmail.com")
        span.contact-me-text korney197823@gmail.com
    li.contacts_item icon.icon_phone
      a.contacts-link(href="tel:+79883337098")
        span.contact-me-text +79883337098
    li.contacts_item icon.icon_skype
      a.contacts-link(href="skype:korney197823")
        span.contact-me-text korney197823
