html {
	height: 100%
}
body {
	height: 100%;
	background: url(images/bg.png) repeat;
	font: normal 1em 'fira_sanslight';
	color: #4a545d;
}
/*HEADER*/
.header {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.container-header{
	height: 119px;
	background: #eff3f7 url(images/line.png) bottom center no-repeat ;
	position: relative;
	margin-bottom: 39px;
}
.container-header .header-logo {
	position: absolute;
	top: 39px;
	left: 0;

}
.container-header .logo-text {
	position: absolute;
	left: -9999px;
}
.container-header .ico {
	position: absolute;
	right: 0;
	top: 36px;
}

/*Социалтные иконки*/
.ico{
	margin: 0;
	padding: 0;
	min-width: 260px;
}
.ico .ico-socials{
	list-style: none;
	display: inline-block;
	height: 47px;
	width: 47px;
	margin-left: 19px;
}
.ico .ico-socials:first-child{
	margin-left: 0;
}
.ico .ico-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(images/socials.png) no-repeat;
}
.ico .ico-link.vk{background-position: -2px -3px;}
.ico .ico-link.tw{background-position: -71px -3px;}
.ico .ico-link.fb{background-position: -140px -3px;}
.ico .ico-link.gh{background-position: -209px -3px;}
.ico .ico-link:hover{background-position-y: -65px;}

/*Навигационное меню*/
.nav-menu {
	width: 250px;
	float: left;
}
.menu {
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.menu .menu-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu .menu-item{
	border-top: 2px solid #3ba8c0;
	margin: 0 11px;
}

.menu .menu-item:first-child{
	border-top: none;
}
/*Текущий пункт навигации*/
.menu .menu-item.me {
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px;

}

.menu .menu-item.me .menu-link{
	color: #f9fafb;
	font-size: 22px;
} 
.menu .menu-link  {
	font-family: 'fira_sansbook';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 16px;
	padding: 20px 0px;
}

.menu .menu-link:hover{
	color: #3ba8c0;
}
/*Футер к низу*/
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto;
}
.wrapper:after{
	content: "";
	height: 80px;
	display: block;
}
.page-footer{
	min-width: 970px;
	height: 80px;
	margin-top: -80px;
}
.information-content{
	width: 650px;
	float: right;
		}
/*FOOTER*/

.page-footer {
	background: #eff3f7 url(images/line.png) top center no-repeat;
	font-family: "fira_sanslight";
	color: #4a545d;

}
.footer-container {
	padding-top: 23px;
	position: relative;
}
.copy {
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px
}
.lock {
	position: absolute;
	top: 26px;
	left: 20px;
}
.lock-enter {
	display: block;
	height: 40px;
	font-family: 'fira_sansbook';
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url(images/lock.png) no-repeat;
	padding-left: 24px;
}
.lock-enter:hover{
	text-decoration: underline;
	background: url(images/lock-open.png) no-repeat;
}


/*OБЩИЕ КЛАССЫ*/

.container {
	width: 960px;
	margin: 0 auto;

}
.information-content {
	width: 650px;
	float: right;
}



.text-center{
	text-align: center;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
/*CLEARFIX*/
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " ";
	display: table;
}
.container:after, .clearfix:after{
	clear: both;
}
/*CLEARFIX END*/