.photowall{
	width: 80%;
	overflow: hidden;
}
.image-list{
	padding-left: 20px;
}

.image-list .work-image {
	list-style: none;
	float: left;
	font: 10px/1.5;
	width: 29.3333333333333%;
	margin: 2% 2% 30px 2%;
}
.work-image img {
	max-width: 100%;
}
