.projects_wrapper{
  margin: 0 20px;

}
.projects_wrapper .projects_list{
  padding: 0;
  margin: 0 0 0 -25;
}
.projects_list .projects_item{
  width: 183px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  margin-bottom: 38px;
  margin-left: 25px;
}
.projects_item .hover_img{
  width: 100%;
	height: 129px;
	border-radius: 4px;
	margin-bottom: 3px;
}
.projects_item .project_img{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
}
.projects_item:hover .project_img{
	-moz-opacity: 0.20;
	opacity:.20;
	filter: alpha(opacity=20);
}
.projects_item:hover .hover_img{
	background-color: rgb( 1, 108, 164);
}
.projects_item .zoom_wrapper{
	position:absolute;
	width: 100%;
	top: 55px;
	text-align: center;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.projects_item .zoom_link {
	font-family: 'fira_sansbook';
	font-size: 12px;
	border: solid 3px #eff3f7;
	color: #eff3f7;
	text-decoration: none;
	border-radius: 5px;
	padding: 0 4px;
}
.projects_item:hover .zoom_wrapper {
	transform: scale(1);
	-webkit-transform: scale(1);
}
.projects_item .project_link{
	color: #3ba8c0;
	font-family: 'fira_sanslight_italic';
	font-size: 13px;
	text-decoration: none;
}
.projects_item .project_desc{
	font-size: 15px;
	margin: 5px 0;
	line-height: 1.2;
}

.lt-ie9 .menu ul li{
	border-bottom: none;
}
.lt-ie9 .menu ul li.current{
	margin-top: 0;
}
.lt-ie9 .my-work .item .zoom_wrapper{
	display: none;
}
.lt-ie9 .my-work .item:hover .zoom_wrapper {
	display: block;
}
.add_new_item{
	border: dashed 1px #3ba8c0;
	border-radius: 4px;
	height: 128px;
	text-decoration: none;
}
.add_new_item .add_new_link{
	background: url('../img/add-new.png') center 33px no-repeat;
	display: block;
	height: 100%;
	text-decoration: none;
	color: #3ba8c0;
	font-size: 13px;
}
.add_new_item .add_new_text{
	position: absolute;
	padding-top: 76px;
	text-align: center;
	width: 100%;
}
.add_new_item .add_new_link:hover{
	text-decoration: underline;
}



#new_project_popup {
	display:none;
}



.fileupload {
    text-decoration: none;
    width: 40px;
    float: right;
    margin-right: 21px;
    border: none;
}

.has-error {
    background: #fad2d1;
    border-color: #f97e76;
    color: №fff;
}

.qtip-mystyle {
    background-color: #f97e76;
    border-color: #f97e76;
    font-family: 'Arial';
    color: #ffffff;
    font-size: 13px;
}

/*___________PoPup________________*/
.modal_wrapper{
	background: #eff3f7;
	box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.35);
	border-radius: 5px;
	width: 364px;
}
.modal_header{
	background: #48cbe8;
	padding: 6px 13px 2px;
	border-bottom: 9px solid #67dffa;
	border-radius: 5px 5px 0 0;
}
.modal_body{
	padding: 7px 22px;
}
.modal_title{
	font-size: 23px;
	color: #fbfcfd;
	font-family: 'fira_sansregular';
	font-weight: normal;
	margin: 0;
}
.modal_body .btn_wrapp{
	text-align: center;
	margin: 13px auto 6px;
}
.modal_header .b-close{
	height: 25px;
	width: 25px;
	position: absolute;
	right: 11px;
	top: 10px;
	background: url(images/close.png) no-repeat;
	border: 0;
}
.btn{
	border-radius: 5px;
	background-color: rgb(72, 203, 232);
	height: 33px;
	border: solid #3ba8c0;
	border-width: 0 0 2px 0;
	color: #f6f6f6;
	font-family: 'fira_sansbook';
	font-size: 20px;
	padding: 0px 20px;
}
.btn:active{
	border-top: solid 2px #3ba8c0;
}
.btn:hover{
	border-bottom: none;
}
.form_group{
 margin-bottom: 12px;
}
.label{
	font-size: 18px;
	font-family: 'fira_sansbook';
	color: #58697a;

}
.input{
 display: block;
 color: #48cbe8;
 background-color: #fff;
 border: 1px solid rgb(72, 203, 232);
 border-radius: 4px;
 box-sizing: border-box;
 font-size: 12px;
 width: 100%;
 padding: 12px 12px;
 outline: none;

}
.textarea {
 display: block;
 width: 100%;
 height: 110px;
 color: #48cbe8;
 border: 1px solid rgb(72, 203, 232);
 border-radius: 4px;
}


/* _____________ // file upload _________ */

.fileupload-wrapper {
  width: 100%;
  position: relative;
}
.fileupload-lable{
	display: block;
  width: 52px;
  height: 41px;
	position: absolute;
  right: 0;
	background: url(images/upload-icon.png) 10px 7px no-repeat;
	background-color: #48cbe8;
	border-radius: 0 4px 4px 0;
}
.fileupload{ /* хак, взятый из html5boilerplate */
	border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}





/* _____________ // file upload end _________ */
